.timeWidget {
    color: #fff;
    flex: 0 0 30%;
    font-size: 72px;
    padding-top: 50px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.meridiem {
    font-size: .65em;
}
